/* Ensure the navbar is styled appropriately */
.navbar {
  background-color: #b92657; /* Green background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #338a50;
    &:hover {
      color: #2eb821;
    }
  }

  .navbar-nav {
    .nav-item {
      .btn {
        color: #2eb821;
        background-color: #2eb821; /* Orange background */
        margin: 0 0.5rem;
        &:hover {
          color: #2eb821;
          background-color: #2eb821; /* Darker orange on hover */
        }
      }
    }
  }

  .navbar-right {
    .nav-item {
      a {
        color: #2eb821;
        &:hover {
          color: #2eb821;
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      margin-right: 40px;
      size: relative;
      background-color: #338a50; /* Blue background */
      color: #ffffff;
      
    }

    .dropdown-menu {
      width: 72%; /* Make the dropdown menu match the button width */
    min-width: unset; /* Remove any minimum width to match the button width exactly */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      border: 1px solid #239640;
      .dropdown-item {
        color: #4caf50; /* Green text */
        &:hover {
          background-color: #e9ecef;
          color: #4caf50;
        }
      }
    }
  }
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    .nav-item {
      .btn {
        width: 100%;
        text-align: left;
        margin: 0.5rem 0;
      }
    }
  }

  .navbar-right {
    flex-direction: column;
    .nav-item {
      a {
        width: 100%;
        text-align: left;
        margin: 0.5rem 0;
      }
    }
  }

  .dropdown {
    width: 100%;
    .dropdown-toggle {
      width: 50%;
      text-align: left;
    }

    .dropdown-menu {
      width: 100%;
      .dropdown-item {
        text-align: left;
      }
    }
  }
}

/* Additional styling for the navbar brand */
.navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn-logout {
  margin-right: 18px; /* Adjust the spacing as needed */
  color:#ffffff;
  background-color: red;
}