/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the navigation bar */
.navbar {
  background-color: #9b2e2e;
  box-shadow: 10px 8px 10px rgba(1, 50, 60, 0.1);
  padding: 10px 20px;
  margin-top: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #8d9d15;
  text-decoration: none;
}

.navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav li a {
  color: #063a5b;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

.navbar-nav li a:hover {
  background-color: #ccf78f;
  border-radius: 4px;
}

/* Style for the dropdown menu */
.dropdown-menu {
  background-color: #5e5656;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 0;
  font-size: 18px;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  color: #584848;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdown-menu li a:hover {
  background-color: #897a7a;
  border-radius: 4px;
}

/* Style for the dropdown button */
.dropdown-toggle {
  color: #fff;
  font-size: 18px;
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-toggle:hover {
  background-color: #23527c;
}
