<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>

    <ul class="navbar-nav me-auto mb-5 mb-lg-0">
      <li>
        <a
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
          class="btn nav-button"
          routerLink="/auth"
          >Authentication</a
        >
      </li>
      <li>
        <a
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          class="btn nav-button"
          routerLink="/recipes"
          >Recipes</a
        >
      </li>
      <li>
        <a
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          class="btn nav-button"
          routerLink="/shopping-list"
          >Shopping List</a
        >
      </li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="logoutButton" *ngIf="isAuthenticated">
        <a style="cursor: pointer" class="btn btn-logout" (click)="onlogOut()">Logout</a>
      </li>
    </ul>
    <div mdbDropdown class="dropdown" *ngIf="isAuthenticated" appDropdown>
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton2"
        mdbDropdownToggle
        aria-expanded="false"
      >
        Manage
      </button>
      <ul mdbDropdownMenu class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onStoreRecipes()"
            >Save Data</a
          >
        </li>

        <li
          class="dropdown-item"
          style="cursor: pointer"
          (click)="onFetchData()"
        >
          Fetch Data
        </li>
      </ul>
    </div>
  </div>
</nav>
