<h1>Select a Recipe from given below!</h1>
<!-- <div class="row">
    <div class="col-xs-12">
      <form>
        <div clas="row">
          <div class="col-sm-4 form-group">
            <label for="name">Name</label>
            <input type="text"
            id="name"
            class="form-control"
            #nameInput>
          </div>
          <div class="col-sm-4 form-group">
            <label for="name">Description</label>
            <input type="text"
            id="desc"
            class="form-control"
            #descInput>
            
            <div class="col-sm-4 form-group">
                <label for="name">Image</label>
                <input type="text"
                id="img"
                class="form-control"
                #imgPath> 
                
                <div class="col-sm-4 form-group">
                    <label for="name">Ingredient</label>
                    <input type="text"
                    id="ingredient"
                    class="form-control"
                    #putIngredient> 

                <div class="row">
                    <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="addNewRecipe()">Add</button>

                    </div>
                </div>
          </div>
        </div> -->